<% provide(:title, "Email Signup") %>
<h1>Congratulations!</h1>
<div class="container">
	<div class="row">
		<p> you should recieve a email comfirming your subscriptions to the list</p>
	</div>
</div>
