<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<% if @user %>
	<% if @user.errors.any? %>
		<div class="alert alert-danger">
			the form contains <%= pluralize(@user.errors.count, "error") %>
			<ul>
				<% @user.errors.full_messages.each do | msg | %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% end %>
