@import "bootstrap-sprockets";
@import "bootstrap";

/* colors */

$navbar-color: #1D4C70;

/* universal */
body {
	padding-top: 60px;
	.row {
		min-height: 300px;
	}
}
footer {
	margin-top: 19px;
	.container {
		border-top: 1px #eee solid;
	}
}
section {
	overflow:auto;
}
textarea {
	resize: vertical;
}
/* mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* some simple helper shorthand formatting */
.center{
	text-align: center;
}
.top_header h1 {
	margin-bottom: 10px;
}
/* have close match to header of primary site */
.top_header {
	font-family:calluna-1, calluna-2, serif;
	color: #275c85;
}
.navbar-nav .nav > li > a {
	color: #1D4C70 !important;
}
.navbar {
	background-color: white;
	border-color: white;
	.container {
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: rgb(68, 68, 68);
	}
}
/* forms */

input[type="email"], input[type="text"], input[type="password"], textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input [type="checkbox"] {
	margin-right:10px !important;
}
input {
	height: auto !important;
}
